<p>
  <strong>Наименование:</strong>
  <%= @component_category_value.title %>
</p>

<%= link_to 'Редактировать', edit_admin_component_category_value_path(@component_category_value) %> |
<%= link_to 'Назад', admin_component_category_values_path %>
