<p>
  <strong>Наименование:</strong>
  <%= @category_type.title %>
</p>

<%= link_to 'Редактировать', edit_admin_category_type_path(@category_type) %> |
<%= link_to 'Назад', admin_category_types_path %>
