<p>
  <strong>Наименование:</strong>
  <%= @component_subtype.title %>
</p>

<%= link_to 'Редактировать', edit_admin_component_subtype_path(@component_subtype) %> |
<%= link_to 'Назад', admin_component_subtypes_path %>
