.leftalign{
text-align:left
}


.notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;  
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  display: none
}

#hello_user
{
  color:white;
  a:visited { color:white; }
  vert-align: center;
}

.box
{
  width:250px;
  height:250px;
  overflow: hidden
}

#admin_nav {

  border: 2px solid lightblue;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
}

