<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то затребовал прислать ссылку для изменения Вашего пароля. Вы можете сделать это при помощи ссылки ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это не Вы затребовали, пожалуйста, проигнорируйте это электронное письмо.</p>
<p>Ваш пароль не будет изменён до тех пор, пока Вы не пройдёте по ссылке выше и не создадите новый пароль.</p>
