<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваша учётная запись была заблокирована из-за чрезмерного количества безуспешных попыток войти.</p>

<p>Нажмите на ссылку ниже чтобы разблокировать свою учётную запись:</p>

<p><%= link_to 'Разблокировать мою учётную запись', unlock_url(@resource, unlock_token: @token) %></p>
