<div>
  <h1 class="page-header text-align-center">Извините, данный раздел находится в разработке.</h1>

  <p class="text-align-center"><%= image_tag("develop900.jpg") %></p>

  <%= link_to "Вернуться на главную страницу", root_path %>

</div>
