<!-- <div class="row"> -->
	<div class="components-footer2">

		<div class="components-footer2-wrapper">
		<!-- <div class=""> -->

			<% @menu_components.each do |component_type| %>

				<%= link_to component_type[:title], component_type[:href], class: "components-footer2-item" %>

			<% end %>

		</div>

	</div>
<!-- </div> -->