<div class="components_footer1_title">
О компании
</div>
<div class="components_footer1">

<%#= image_tag("soles_super.gif", style:"float:left;padding-right:15px;") unless Rails.env.production?%>

<!-- <p>ООО «Восток» более 10 лет успешно работает на рынке оборудования и комплектующих материалов для производства и ремонта обуви. Мы стараемся предвосхитить желания наших клиентов и постоянно расширяем ассортимент поставляемой продукции.</p>
<p>У нас вы сможете найти всё необходимое для вашей беспрерывной работы: от иголок и пряжек до швейных, каблучноприбивочных машин, рабочих станций и множества других комплектующих. Благодаря многолетней успешной работе с производителями, мы оперативно воплощаем в жизнь все ваши идеи. И даже, если необходимого товара у нас нет, или никогда не было, мы сделаем все, чтобы найти его и привезти в кратчайшие сроки. У нас вы сможете заказать и узкоспециализированный инструмент, и оборудование широкого профиля использования.</p>
<p>ООО «Восток» является прямым поставщиком на рынке Российской Федерации таких компаний как: Famas, Erkan Makine, Ziylan, Denlaks, Durak, Русская кожа (Рязань), Богородский завод кож и многих других. Также наша компания — эксклюзивный дистрибьютор подошв для обуви (собственного производства) «Восток-пласт». Благодаря прямым поставкам наши цены конкурентноспособны.
Наши менеджеры ответят на все интересующие вас вопросы. Индивидуальный подход к каждому покупателю позволил нам разработать гибкую систему цен и скидок.</p>
<p>Доставка товаров осуществляется в любой регион России и стран СНГ по договоренности.</p>
<p><strong>Нас интересует взаимовыгодное и долгосрочное сотрудничество</strong>!</p>
<p>С уважением, ООО «Восток»</p> -->


<p>ООО «Восток» более 10 лет успешно работает на рынке оборудования и комплектующих материалов для производства и ремонта обуви. Мы стараемся предвосхитить желания наших клиентов и постоянно расширяем ассортимент поставляемой продукции.</p>
<p>У нас вы сможете найти всё необходимое для вашей беспрерывной работы: от иголок и пряжек до высокотехнологичного оборудования для производства обуви и множества других комплектующих. Благодаря многолетней успешной работе с производителями, мы оперативно воплощаем в жизнь все ваши идеи. И даже, если необходимого товара у нас нет, или никогда не было, мы сделаем все, чтобы найти его и привезти в кратчайшие сроки. У нас вы сможете заказать и узкоспециализированный инструмент, и оборудование широкого профиля использования.</p>
<p>ООО «Восток» является прямым поставщиком на рынке Российской Федерации таких компаний как: Famas, Erkan Makine, Ziylan, Denlaks, Durak, Русская кожа (Рязань), Богородский завод кож и многих других. Наша компания является производителем подошв для обуви «Восток-пласт». Благодаря прямым поставкам наши цены конкурентноспособны.</p>
<p>Наши менеджеры ответят на все интересующие вас вопросы. Индивидуальный подход к каждому покупателю позволил нам разработать гибкую систему цен и скидок.</p>
<p>Доставка товаров осуществляется в любой регион России и стран СНГ по договоренности.</p>
<p><strong>Нас интересует взаимовыгодное и долгосрочное сотрудничество!</strong></p>
<p>С уважением, ООО «Восток»</p>

</div>