<div class="search-control">

<form action="<%= search_path %>" method="get">

  <div class="search-wrapper-1">
    <div class="search-input-wrapper">
      <input type="text" name="keyword" autocomplete="off" class="search-input" value="" placeholder="Поиск">
    </div>
  </div>
    
  <div class="search-wrapper-2">
    <button type="submit" class=""><i class="fa"></i></button>    
  </div>
  
</form>

</div>