<div class="social-icons">

  <a class="btn social-button fa fa-facebook" href="https://www.facebook.com/" target="_blank"></a>

  <a class="btn social-button fa fa-vk" href="https://www.vk.com/" target="_blank"></a>

  <a class="btn social-button fa fa-odnoklassniki" href="https://www.ok.ru/" target="_blank"></a>    

</div>

