<div>

  <div class="nav navbar-nav navbar-right">
    <div class="dropdown" id="fat-menu">
      <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle"
      data-toggle="dropdown" href="#" id="drop3" role="button">Dropdown
      <span class="caret"></span></a>
      <ul aria-labelledby="drop3" class="dropdown-menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li class="divider" role="separator"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>