<div class="vina_janshop">
  <div class="sp-column ">
    <div class="sp-module mod_search">
      <div class="sp-module-content">
        <div class=" mod_search sp-vmsearch" id="sp-vmsearch-127">
          <form action="<%= search_path %>" method="get">

            <div class="search-button-wrapper">
              <button type="submit" class="search-button"><i class="fa"></i></button>
            </div>            
            <div class="search-input-wrapper">
              <input type="text" name="keyword" autocomplete="off" class="sp-vmsearch-box" value="" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>