<!-- <div class="row"> -->
  <!-- <div id="admin_nav" class="col-md-2 col-md-offset-5"> -->
  <div class="col-md-2 col-md-offset-5">  
    <h5>Восток-Обувь в социальных сетях</h5>
    <div class="nowrap">
      <span><%= link_to(image_tag("habra_pack_icons/without_shadow/odnoklassniki.png"), "https://ok.ru/", target: "_blank") %></span>
      <span><%= link_to(image_tag("habra_pack_icons/without_shadow/vk.png"), "https://vk.com/", target: "_blank") %></span>
      <span><%= link_to(image_tag("habra_pack_icons/without_shadow/facebook.png"), "https://fb.com", target: "_blank") %></span>
    </div>
    <h5>&copy; 2016 "Восток"</h5>
    <h5>Эл. почта: vostokshoes@yandex.ru</h5>
  </div>
<!-- </div> -->


